<div class="container">
    <table>
        <thead>
            <tr>
                <th>TV SETS AND HOME CINEMA</th>
                <th>1 YEAR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>at a price from 151 BGN to 500 BGN</td>
                <td>32,00 BGN</td>
            </tr>
            <tr>
                <td>at a price from 501 BGN to 750 BGN</td>
                <td>50,00 BGN</td>
            </tr>
            <tr>
                <td>at a price from 751 BGN to 1000 BGN</td>
                <td>57,00 BGN</td>
            </tr>
        </tbody>
    </table>
</div>