<div class="container">
    <h2 class="title">Transport</h2>
    <p class="text">TECHZONE offers delivery to its customers at the entrance of the building. Terms and conditions for
        delivery of products differ in the event of on-line order and purchase in hypermarkets. They go as follows:
    </p>
    <app-transport-table></app-transport-table>
    <p class="text">
        Customers who purchase appliance from the stores of the hypermarket chain TECHZONE can benefit from free
        delivery. Deliveries are carried out on a daily basis. Beyond cities and towns where TECHZONE hypermarkets
        are located free deliveries are performed on a certain schedule. Employees of our transport will deliver to you
        purchased commodity on a preliminary agreed upon day and hour interval which are fixed in the store at the time
        of buying. In order to receive the appliance it is necessary to show your identity card and purchase documents
        for the appliance (invoice or a receipt).
    </p>
    <div class="section">
        <h2 class="section-title">Conditions of delivery:</h2>
        <ol class="list">
            <li>To a residential building, the delivery shall be to the entrance of the building.</li>
            <li>To a residential building under rough construction, the delivery shall to the entry of the building.
            </li>
            <li>To a house with yard, the delivery shall to the door of the yard.</li>
            <li>Upon delivery the recipient shall be obliged to present his/her Personal ID Card and documents for the
                purpose of the respective appliance.</li>
        </ol>
        <p class="text">
            For the cities Sofia, Plovdiv, Varna and Burgas deliveries of appliances bought from TECHZONE are free
            within
            the boundaries of the relevant city/town. For delivery to a certain address beyond the boundaries of the
            city/town a charge is paid in the amount of 1 (one) BGN/km only in one direction.
        </p>
        <p class="text">
            <span>Example:</span> If town X is situated at a distance of 10 km from the town where purchase has taken
            place the customer pays 10 (ten) BGN for delivery.
        </p>
        <p class="text">
            <span>Example:</span> If the town X is situated at a distance of 48 km from the town where the purchase has
            taken place, the customer pays 18 (eighteen) BGN for delivery.
        </p>
    </div>
    <h2 class="section-title">Delivery upon online purchase</h2>
    <p class="text">
        Customers purchasing an appliance from the online store of TECHNOPOLIS hypermarkets shall be entitled to free
        delivery in case of online order to the total value of over BGN 40, incl. VAT, and shall pay for delivery of BGN
        3.99, incl. VAT, in case of online order to the total value of less than BGN 50, incl. VAT.
    </p>
</div>