<div class="container">
    <div>
        <div class="img-container">
            <img src="https://www.technopolis.bg/medias/sys_master/h61/h12/13839759933470.jpg" alt="Product Image">
        </div>
        <h4 class="title">GSMAPPLE IPHONE 11 WHITE 6.10 ", 64 GB, RAM 4 GB, 12+12 MP</h4>
    </div>
    <div class="price-container">
        <div class="count-container">
            <i class="fas fa-minus"></i>
            <span class="count">1</span>
            <i class="fas fa-plus"></i>
        </div>
        <span class="price"><span>1199</span> лв</span>
    </div>
</div>