.container {
    padding: 120px 30px 70px 30px;
}

.container .img-container {
    height: 540px;
}

.container .title {
    font-weight: 300;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.container .text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}