<div class="container">
    <div class="img-container">
        <img src="https://f.dam-img.rfdcontent.com/cms/004/750/685/4750685_original.jpg" alt="Delivery Image">
    </div>
    <h4 class="title">
        We at TechZone know how precious every moment is with your family and friends
    </h4>
    <p class="text">
        That's why we offer a new service "Take from the store", which saves your time and effort. You make a quick and
        easy selection of goods from the Technopolis website. You pay online, by card or by bank transfer, in less than
        five minutes. You do not wait for delivery, and after electronic confirmation of the order, you receive the
        goods at a time convenient for you from the Technopolis store of your choice - near work or near your home.
    </p>
    <app-pickup-how-works></app-pickup-how-works>
</div>