<div class="container">
    <div class="form-container">
        <h2>Login</h2>
        <p>I'm already your client</p>
        <form class="form" (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label for="email">E-mail</label>
                <input type="email" name="email" [(ngModel)]="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" [(ngModel)]="password">
            </div>
            <input type="checkbox" name="remember" [(ngModel)]="remember">
            <label for="remember">Remember me</label>
            <p [ngClass]="['error-message', hideError ? 'hidden' : '']">
                <i class="fas fa-times"></i>
                <span>Your email or password was incorrect</span>
            </p>
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="form-container">
        <h2>Register</h2>
        <p>I'm new customer</p>
        <p>If you're a new client please register so you can order our products.</p>
        <p>By providing an E-mail address and password you'll create your personal user account, which besides the
            ability to shop will provide you with access to additional functionalities such as:</p>
        <ul>
            <li>Archive of orders</li>
            <li>Personalization</li>
            <li>Review of sent orders and tracking an order</li>
            <li>Saving carts with products</li>
        </ul>
        <a routerLink="/register" class="btn-register">Register</a>
    </div>
</div>