<div class="container">
    <div class="login-container">
        <h2>Login</h2>
        <p>I'm already your client</p>
        <form class="form">
            <div class="form-control">
                <label for="email">E-mail</label>
                <input type="email" name="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
        </form>
    </div>
    <div class="register-container">
        <h2>Register</h2>
        <p>I'm new customer</p>
    </div>
</div>