.container {
    margin-top: 50px;
}

.container .title {
    margin: 0;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 400;
}

.container .products {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 20px 50px 20px;
}