<div class="container">
    <h3 class="title">Stores in the country</h3>
    <div class="table">
         <app-order-by-phone-table-store></app-order-by-phone-table-store>
         <app-order-by-phone-table-store></app-order-by-phone-table-store>
         <app-order-by-phone-table-store></app-order-by-phone-table-store>
         <app-order-by-phone-table-store></app-order-by-phone-table-store>
         <app-order-by-phone-table-store></app-order-by-phone-table-store>
         <app-order-by-phone-table-store></app-order-by-phone-table-store>
         <app-order-by-phone-table-store></app-order-by-phone-table-store>
    </div>
</div>