<div class="container">
    <form class="form">
        <div class="form-row">
            <div class="form-control">
                <label for="firstName">First Name <span>*</span></label>
                <input type="text" name="firstName">
            </div>
            <div class="form-control">
                <label for="lastName">Last Name <span>*</span></label>
                <input type="text" name="lastName">
            </div>
        </div>
        <div class="form-row">
            <div class="form-control">
                <label for="email">E-mail <span>*</span></label>
                <input type="email" name="eemail">
            </div>
            <div class="form-control">
                <label for="phoneNumber">Phone Number <span>*</span></label>
                <input type="text" name="phoneNumber">
            </div>
        </div>
        <div class="form-control btns">
            <input type="submit" id="Save" class="btn submit" value="Save">
            <a routerLink="/login" class="btn">Cancel</a>
        </div>
    </form>
</div>