<div class="container">
    <ul>
        <li>
            <i class="fas fa-tv"></i>
            <span>TV Video and Gaming</span>
        </li>
        <li>
            <i class="fas fa-mobile-alt"></i>
            <span>Phones and tablets</span>
        </li>
        <li>
            <i class="fas fa-camera"></i>
            <span>Photo and Video</span>
        </li>
        <li>
            <i class="fas fa-map-marker-alt"></i>
            <span>Auto and GPS</span>
        </li>
        <li>
            <i class="fas fa-laptop"></i>
            <span>PC peripherials</span>
        </li>
        <li>
            <i class="fas fa-headphones"></i>
            <span>IT accessories</span>
        </li>
        <li>
            <i class="fas fa-bowling-ball"></i>
            <span>Outdoors and sports</span>
        </li>
        <li>
            <i class="fas fa-home"></i>
            <span>Home and garden</span>
        </li>
        <li>
            <i class="fas fa-stream"></i>
            <span>Small domestic appliances</span>
        </li>
        <li>
            <i class="fas fa-wind"></i>
            <span>Air conditioners and heaters</span>
        </li>
        <li>
            <i class="fas fa-blender"></i>
            <span>Home appliances</span>
        </li>
    </ul>
</div>