<div class="container">
    <div>
        <ul>
            <li>
                <i class="fas fa-tv"></i>
            </li>
            <li>
                <i class="fas fa-mobile-alt"></i>
            </li>
            <li>
                <i class="fas fa-camera"></i>
            </li>
            <li>
                <i class="fas fa-map-marker-alt"></i>
            </li>
            <li>
                <i class="fas fa-laptop"></i>
            </li>
            <li>
                <i class="fas fa-headphones"></i>
            </li>
            <li>
                <i class="fas fa-bowling-ball"></i>
            </li>
            <li>
                <i class="fas fa-home"></i>
            </li>
            <li>
                <i class="fas fa-stream"></i>
            </li>
            <li>
                <i class="fas fa-wind"></i>
            </li>
            <li>
                <i class="fas fa-blender"></i>
            </li>
        </ul>
        <ul>
            <li>TV Video and Gaming</li>
            <li>Phones and tablets</li>
            <li>Photo and Video</li>
            <li>Auto and GPS</li>
            <li>PC peripherials</li>
            <li>IT accessories</li>
            <li>Outdoors and sports</li>
            <li>Home and garden</li>
            <li>Small domestic appliances</li>
            <li>Air conditioners and heaters</li>
            <li>Home appliances</li>
        </ul>
    </div>
</div>