<div class="container">
    <div class="categories-container">
        <div class="menu">
            <ul>
                <li
                    (mousemove)="openCategories('tv')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-tv"></i>
                    <span>TV Video and Gaming</span>
                </li>
                <li
                    (mousemove)="openCategories('phones')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-mobile-alt"></i>
                    <span>Phones and tablets</span>
                </li>
                <li
                    (mousemove)="openCategories('photos')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-camera"></i>
                    <span>Photo and Video</span>
                </li>
                <li
                    (mousemove)="openCategories('gps')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Auto and GPS</span>
                </li>
                <li
                    (mousemove)="openCategories('pc-peripheria')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-laptop"></i>
                    <span>PC peripherials</span>
                </li>
                <li 
                    (mousemove)="openCategories('it-accessories')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-headphones"></i>
                    <span>IT accessories</span>
                </li>
                <li
                    (mousemove)="openCategories('sports')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-bowling-ball"></i>
                    <span>Outdoors and sports</span>
                </li>
                <li
                    (mousemove)="openCategories('home')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-home"></i>
                    <span>Home and garden</span>
                </li>
                <li
                    (mousemove)="openCategories('domestics')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-stream"></i>
                    <span>Small domestic appliances</span>
                </li>
                <li
                    (mousemove)="openCategories('air')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-wind"></i>
                    <span>Air conditioners and heaters</span>
                </li>
                <li
                    (mousemove)="openCategories('appliances')"
                    (mouseout)="closeCategories()"
                >
                    <i class="fas fa-blender"></i>
                    <span>Home appliances</span>
                </li>
            </ul>
        </div>
        <div
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'tv') ? '' : 'hidden'}"
            (mouseover)="openCategories('tv')"
            (mouseout)="closeCategories()"
        >
            <h2>TV Video and Gaming</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.tvFirst">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
                <ul>
                    <li *ngFor="let links of linksData.tvSecond">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'phones') ? '' : 'hidden'}"
            (mouseover)="openCategories('phones')"
            (mouseout)="closeCategories()"
        >
            <h2>Phones and tablets</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.phones">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'photos') ? '' : 'hidden'}"
            (mouseover)="openCategories('photos')"
            (mouseout)="closeCategories()"
        >
            <h2>Photo and Video</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.photos">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'gps') ? '' : 'hidden'}"
            (mouseover)="openCategories('gps')"
            (mouseout)="closeCategories()"
        >
            <h2>Auto and GPS</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.gps">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'pc-peripheria') ? '' : 'hidden'}"
            (mouseover)="openCategories('pc-peripheria')"
            (mouseout)="closeCategories()"
        >
            <h2>PC peripherials</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.pcPeripheria">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'it-accessories') ? '' : 'hidden'}"
            (mouseover)="openCategories('it-accessories')"
            (mouseout)="closeCategories()"
        >
            <h2>IT accessories</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.itAccessoriesFirst">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
                <ul>
                    <li *ngFor="let links of linksData.itAccessoriesSecond">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'sports') ? '' : 'hidden'}"
            (mouseover)="openCategories('sports')"
            (mouseout)="closeCategories()"
        >
            <h2>Outdoors and sports</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.sportsFirst">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
                <ul>
                    <li *ngFor="let links of linksData.sportsSecond">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'home') ? '' : 'hidden'}"
            (mouseover)="openCategories('home')"
            (mouseout)="closeCategories()"
        >
            <h2>Home and garden</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.homeFirst">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
                <ul>
                    <li *ngFor="let links of linksData.homeSecond">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'domestics') ? '' : 'hidden'}"
            (mouseover)="openCategories('domestics')"
            (mouseout)="closeCategories()"
        >
            <h2>Small domestic appliances</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.domestics">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'air') ? '' : 'hidden'}"
            (mouseover)="openCategories('air')"
            (mouseout)="closeCategories()"
        >
            <h2>Air conditioners and heaters</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.air">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div 
            class="categories" 
            [ngStyle]="{'visibility': (openedCategories === 'appliances') ? '' : 'hidden'}"
            (mouseover)="openCategories('appliances')"
            (mouseout)="closeCategories()"
        >
            <h2>Home appliances</h2>
            <div>
                <ul>
                    <li *ngFor="let links of linksData.appliances">
                        <a routerLink="links.path">{{ links.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <app-slider></app-slider>
</div>