<div class="container">
   <h2 class="title">My account</h2>
   <div class="section-btns" (click)="openSection($event)">
      <a class="opened" routerLink="/account/unprocessed-orders">Unprocessed orders</a>
      <a routerLink="//account/processed-orders">Processed orders</a>
      <a routerLink="/account/profile">Personal data</a>
      <a routerLink="/account/delivery-address">Delivery data</a>
      <a routerLink="/account">Change of password</a>
   </div>
   <router-outlet></router-outlet>
</div>