<div class="container">
    <h2 class="title">TECHZONE Extended Warranty</h2>
    <p class="text">
        "TECHZONE Extended Warranty" is an insurance that provides you with continuous protection for your appliance
        after the expiration of the manufacturer's warranty. During the period, in which you are protected, your
        "TECHZONE Extended Warranty" pays for the repairs on your appliance, including the costs for labour and spare
        parts. If the manufacturer's warranty of the appliance you have selected is 2 years, you can purchase
        "TECHZONE Extended Warranty" for one or three additional years of extended warranty. If the manufacturer's
        warranty of the appliance is 3 years, the "Extended Warranty" insurance will provide you with two more years of
        protection for your appliance.
    </p>
    <p class="text">
        You can buy "TECHZONE Extended Warranty" from any hypermarket of the Technopolis chain. Please, contact one
        of our sales assistants to learn how to take advantage of this service.
    </p>
    <app-frequently-asked-questions></app-frequently-asked-questions>
</div>