<div class="container">
    <div class="title-container">
        <h2 class="title">Compare products</h2>
        <i class="fas fa-compress-alt"></i>
        <span class="products-count">2</span>
        <i class="far fa-trash-alt"></i>
        <button class="remove-btn">Remove all</button>
    </div>
    <div class="products">
        <div class="cards">
            <div>
                <app-product-card></app-product-card>
                <button>Add to cart</button>
            </div>
            <div>
                <app-product-card></app-product-card>
                <button>Add to cart</button>
            </div>
        </div>
    </div>
</div>