.container {
    width: 230px;
    height: 270px;
    display: block;
    padding: 0 8px;
    border: 1px solid #FFF;
}

.container:hover {
    cursor: pointer;
    border: 1px solid #c3c3c3;
}

.container .name {
    background: #FFF;
    height: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    position: relative;
    bottom: 35px;
    font-size: 0.9rem;
}

.container .price {
    margin: 0;
    position: relative;
    bottom: 25px;
    font-weight: 600;
}

.container .price span {
    font-size: 1.2rem;
    color: #DB232A;
    margin-left: 5px;
}