<div class="container">
    <div class="subscribe-container">
        <h3 class="title">
            Subscribe for our special offers:
        </h3>
        <input type="text" class="email-input" placeholder="Your email">
        <i class="far fa-envelope"></i>
        <p class="information">
            If you subscribe, you agree to receive on your e-mail Technopolis special offers.
        </p>
    </div>
    <div class="links-container">
        <div *ngFor="let linksGroup of linksData">
            <h3 class="title">{{ linksGroup.title }}</h3>
            <ul>
                <li *ngFor="let link of linksGroup.links">
                    <a [routerLink]="link.path">
                        {{ link.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>