<div class="container">
    <h2 class="title">Laptops</h2>
    <div class="products-container">
        <app-filters></app-filters>
        <div class="products">
            <div class="sorting">
                <p class="found">Found: <span>185</span></p>
                <div class="btns">
                    <h4>Sort by</h4>
                    <button>
                        Name
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <button>
                        Price
                        <i class="fas fa-arrow-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>