<div class="container">
    <h2 class="title">Gift ideas</h2>
    <div class="section">
        <div class="img-container">
            <img src="https://www.technopolis.bg/medias/sys_master/h20/h0d/11382626287646.jpg" alt="Presents for Him">
            <figcaption class="link-btn-container">
                <p class="text">For him</p>
                <p class="link">
                    <a routerLink="/gift-ideas">Choose gift</a>
                </p>
            </figcaption>
        </div>
        <div class="img-container">
            <img src="https://www.technopolis.bg/medias/sys_master/h7f/hc5/11382625435678.jpg" alt="Presents for Her">
            <figcaption class="link-btn-container">
                <p class="text">For her</p>
                <p class="link">
                    <a routerLink="/gift-ideas">Choose gift</a>
                </p>
            </figcaption>
        </div>
        <div class="img-container">
            <img src="https://www.technopolis.bg/medias/sys_master/h87/hf2/11382623567902.jpg" alt="Presents for Them">
            <figcaption class="link-btn-container">
                <p class="text">For them</p>
                <p class="link">
                    <a routerLink="/gift-ideas">Choose gift</a>
                </p>
            </figcaption>
        </div>
    </div>
</div>