<div class="container">
    <h2 class="title">Register</h2>
    <form class="form">
        <div class="form-row">
            <div class="form-control">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName">
            </div>
            <div class="form-control">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName">
            </div>
        </div>
        <div class="form-row">
            <div class="form-control">
                <label for="firstName">Address(str, No., fl., ap.) <span>*</span></label>
                <input class="address" type="text" name="firstName">
            </div>
        </div>
        <div class="form-row">
            <div class="form-control">
                <label for="firstName">City/town/village <span>*</span></label>
                <input type="text" name="firstName">
            </div>
            <div class="form-control">
                <label for="firstName">Postal Code <span>*</span></label>
                <input type="text" name="firstName">
            </div>
        </div>
        <div class="form-row">
            <div class="form-control">
                <label for="email">E-mail</label>
                <input type="email" name="eemail">
            </div>
            <div class="form-control">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" name="phoneNumber">
            </div>
        </div>
        <div class="form-control btns">
            <input type="submit" id="Save" class="btn submit">
            <a routerLink="/login" class="btn">Cancel</a>
        </div>
    </form>
</div>