<div class="container">
    <form class="form">
        <div class="form-row">
            <div class="form-control">
                <label for="old-password">Old password  <span>*</span></label>
                <input type="password" name="old-password">
            </div>
            <div class="form-control">
                <label for="new-password">New password <span>*</span></label>
                <input type="password" name="new-password">
                <p class="password-info">The minimum length must be 6 characters</p>
            </div>
            <div class="form-control">
                <label for="confirm-password">Confirm <span>*</span></label>
                <input type="password" name="confirm-password">
            </div>
        </div>
        <div class="form-control btns">
            <input type="submit" value="Save" class="btn submit">
            <a routerLink="/login" class="btn">Refusal</a>
        </div>
    </form>
</div>