<div class="container">
    <img class="active" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-laptops-1589464856.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*"
        alt="First Slider Image">
    <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-og-2021?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1630076508000"
        alt="Second Slider Image">

    <div class="btns-container">
        <div class="btn"></div>
        <div class="btn active"></div>
        <div class="btn"></div>
        <div class="btn"></div>
    </div>
</div>