.container {
    margin-top: 30px;
}

.container .title {
    margin: 0;
    font-size: 1.4rem;
}

.container table {
    border-collapse: separate; 
    border-spacing: 0;
    width: 100%;
    margin-top: 50px;
}

.container table thead tr th {
    text-align: left;
    border-bottom: 1px solid #DB232A;
    padding: 10px 10px;
}

.container table tbody tr td {
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.225;
    border-top: 1px solid #D6D6D6;
    text-align: left;
}

.container table tbody tr:nth-child(even) {
    background: #EEE;
}