@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

.container {
    position: fixed;
    width: 100%;
    height: 65px;
    background: #DB232A;
    display: flex;
    justify-content: space-between;
}

.container div {
    display: inline-block;
}

.container .logo {
    position: relative;
    font-family: 'Bakbak One', cursive;
    color: #FFF;
    font-size: 2rem;
    left: 45px;
    bottom: 1px;
}

.container .logo p {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    right: 114px;
    top: 16px;
}

.container .search {
    outline: none;
    height: 42px;
    position: relative;
    top: 2px;
    right: 40px;
    width: 33vw;
    padding: 10px;
    font-size: 0.9rem;
}

.container .search::placeholder {
    color: #4B4B4B;
}

.container .fa-search {
    color: #FFF;
    font-size: 1.7rem;
    position: relative;
    top: 8px;
    right: 25px;
}

.contacts-container {
    display: inline-block;
    position: relative;
    top: 13px;
    height: 40px;
    color: #FFF;
    border-left: 1px solid #686868;
    border-right: 1px solid #686868;
    padding: 0 20px;
}

.contacts-container .phone-number {
    display: inline-block;
    position: relative;
    bottom: 7px;
    font-size: 1.1rem;
}

.contacts-container .phone-number .fa-phone-alt {
    font-size: 0.9rem;
    position: relative;
    bottom: 1px;
    margin-right: 8px;
}

.contacts-container a {
    position: relative;
    bottom: 7px;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-left: 10px;
}

.user-items-management {
    display: inline-block;
    margin-left: 30px;
    color: #FFF;
    position: relative;
    top: 9px;
    margin-right: 45px;
}

.user-items-management i {
    font-size: 1.6rem;
    margin-right: 13px;
}

.user-items-management span {
    position: relative;
    right: 10px;
    bottom: 15px;
    border-radius: 50%;
    padding: 2px 3px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;
}