<header class="container">
    <div>
        <a routerLink="/" class="logo">
            <div class="desktop">
                TechZone
                <p>makes life better</p>
            </div>
            <div class="mobile">
                TZ
            </div>
        </a>
        <input type="text" class="search" placeholder="search..." />
        <i class="fas fa-search"></i>
    </div>
    <div>
        <div class="contacts-container">
            <p class="phone-number">
                <i class="fas fa-phone-alt"></i>
                080012340
            </p>
            <a routerLink="/login">Log in</a>
        </div>
        <div class="user-items-management">
            <a routerLink="/">
                <i class="fas fa-compress-alt"></i>
                <span>0</span>
            </a>
            <a routerLink="/">
                <i class="far fa-heart"></i>
                <span>0</span>
            </a>
            <a routerLink="/">
                <i class="fas fa-shopping-cart"></i>
                <span>0</span>
            </a>
        </div>
    </div>
</header>