<div class="container">
    <h3 class="title">How it works?</h3>
    <div class="diagram">
        <div class="item">
            <div class="logo">
                <i class="fas fa-desktop"></i>
            </div>
            <div class="text">
                <span>1</span>
                <h5>Choose a product</h5>
            </div>
        </div>
        <div class="next-step">
            <i class="fas fa-greater-than"></i>
        </div>
        <div class="item">
            <div class="logo">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="text second">
                <span>2</span>
                <h5>Add to cart</h5>
            </div>
        </div>
        <div class="next-step">
            <i class="fas fa-greater-than"></i>
        </div>
        <div class="item">
            <div class="logo">
                <i class="fas fa-check"></i>
            </div>
            <div class="text">
                <span>3</span>
                <h5>Select the "Take from store" option</h5>
            </div>
        </div>
        <div class="item">
            <div class="logo">
                <i class="fas fa-map-marked-alt"></i>
            </div>
            <div class="text">
                <span>4</span>
                <h5>Point out the most convenient Technopolis store</h5>
            </div>
        </div>
        <div class="next-step">
            <i class="fas fa-greater-than"></i>
        </div>
        <div class="item">
            <div class="logo">
                <i class="fas fa-credit-card"></i>
            </div>
            <div class="text">
                <span>5</span>
                <h5>Pay online</h5>
            </div>
        </div>
        <div class="next-step">
            <i class="fas fa-greater-than"></i>
        </div>
        <div class="item">
            <div class="logo">
                <i class="fas fa-box-open"></i>
            </div>
            <div class="text">
                <span>6</span>
                <h5>Receive the product with the order number</h5>
            </div>
        </div>
    </div>
</div>