.container {
    margin: 40px 30px;
}

.container .title {
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #DB232A;
}

.container .question {
    width: 100%;
    border: 1px solid #D6D6D6;
    padding: 15px 20px;
    margin-top: 25px;
}

.container .question div {
    display: flex;
    justify-content: space-between;
}

.container .question div .question-title {
    margin: 0;
    font-weight: 300;
    font-size: 1.4rem;
    pointer-events: none;
}

.container .question div i {
    font-size: 1.5rem;
    position: relative;
    top: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.container .question div i.rotate {
    transform: rotate(180deg);
    transition: 0.3s;
}



.container .question .text {
    font-size: 1.1rem;
    line-height: 1.5rem;
    pointer-events: none;
}